<% include ../partials/header.ejs %>
<!--TODO: Figure out why logo width is wrong in this page and session page.-->
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="container">

                <!-- CSS -->
                <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

                <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="/assets/css/form-elements.css">
                <link rel="stylesheet" href="/assets/css/style.css">

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->

                <!-- Favicon and touch icons -->
                <link rel="shortcut icon" href="/assets/ico/favicon.png">
                <link rel="apple-touch-icon-precomposed" sizes="144x144"
                      href="/assets/ico/apple-touch-icon-144-precomposed.png">
                <link rel="apple-touch-icon-precomposed" sizes="114x114"
                      href="/assets/ico/apple-touch-icon-114-precomposed.png">
                <link rel="apple-touch-icon-precomposed" sizes="72x72"
                      href="/assets/ico/apple-touch-icon-72-precomposed.png">
                <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10" style="opacity: 0.98">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Add new dish items.</h3>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="/restaurants/<%= restaurant._id %>/dish" method="post"
                                      class="login-form">
                                    <!--Dish name-->
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <label class="sr-only" for="dish-name">Dish Name</label>
                                            <input type="text" name="dish[name]"
                                                   placeholder="Name of the dish"
                                                   class="form-control" id="dish-name">
                                        </div>
                                        <!--Price -->
                                        <div class="col-auto">
                                            <label class="sr-only" for="dish-price">Price</label>
                                            <input type="number" step="0.01" name="dish[price]"
                                                   placeholder="Price of the dish"
                                                   class="form-control" id="dish-price">
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="dish-type">Dish Type</label>
                                            <select class="form-control" id="dish-type" name="dish[type]">
                                                <option>Appetizer</option>
                                                <option>Entree</option>
                                                <option>Dessert</option>
                                                <option>Others...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--Description-->
                                    <div class="form-group">
                                        <label class="sr-only" for="dish-description">Description</label>
                                        <textarea type="text" name="dish[description]"
                                                  placeholder="Description of the dish"
                                                  class="form-control" id="dish-description"></textarea>
                                    </div>
                                    <!--TODO: How to store files? -->
                                    <div class="form-group">
                                        <label class="btn" for="dish-picture" style="color: #29b6e0">If you have a
                                            picture of the dish <br>
                                            Put it here! </label>
                                        <input class="form-control-file" type="file" name="dish-picture"
                                               id="dish-picture" hidden>
                                    </div>
                                    <button type="submit" class="btn">Done!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<% include ../partials/footer.ejs %>
