<% include ../partials/header.ejs %>
<!--TODO: Figure out why logo width is wrong in this page and session page.-->
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="container">

                <!-- CSS -->
                <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

                <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="/assets/css/form-elements.css">
                <link rel="stylesheet" href="/assets/css/style.css">

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->

                <!-- Favicon and touch icons -->
                <link rel="shortcut icon" href="/assets/ico/favicon.png">
                <link rel="apple-touch-icon-precomposed" sizes="144x144"
                      href="/assets/ico/apple-touch-icon-144-precomposed.png">
                <link rel="apple-touch-icon-precomposed" sizes="114x114"
                      href="/assets/ico/apple-touch-icon-114-precomposed.png">
                <link rel="apple-touch-icon-precomposed" sizes="72x72"
                      href="/assets/ico/apple-touch-icon-72-precomposed.png">
                <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6" style="opacity: 0.98">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Join us as a restaurant owner</h3>
                                    <p style="color: #DE8F7E">Input the information of your restaurant!</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <!--TODO: Reformat all names -->
                                <form role="form" action="/restaurants" method="post" class="login-form">
                                    <!--Restaurant Name-->
                                    <div class="form-group">
                                        <label class="sr-only" for="restaurant-name">Restaurant Name</label>
                                        <input type="text" name="restaurant[name]"
                                               placeholder="We need the name of your restaurant..."
                                               class="form-control" id="restaurant-name">
                                    </div>
                                    <!--TODO: Add Cuisine Option -->
                                    <fieldset disabled>
                                        <div class="form-group">
                                            <label class="sr-only" for="restaurant-cuisine">Cuisine Type</label>
                                            <select class="form-control" id="restaurant-cuisine">
                                                <option>New American</option>
                                                <option>Traditional American</option>
                                                <option>Asian</option>
                                                <option>Barbecue</option>
                                                <option>Others...</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                    <!--Table count number, for setting up reservation-->
                                    <div class="form-group">
                                        <label class="sr-only" for="table">Tables</label>
                                        <input type="number" name="restaurant[tableCount]"
                                               placeholder="How many tables you have?"
                                               class="form-control" id="table">
                                    </div>
                                    <!--Restaurant location-->
                                    <div class="form-group">
                                        <label class="sr-only" for="address">Address</label>
                                        <input type="text" name="restaurant[address]"
                                               placeholder="Where are you located?"
                                               class="form-control" id="address">
                                    </div>
                                    <div class="form-row form-group">
                                        <!--first name-->
                                        <div class="col">
                                            <label class="sr-only" for="first-name">First Name</label>
                                            <input type="text" name="restaurant[firstName]" placeholder="First name"
                                                   class="form-control" id="firstName">
                                        </div>
                                        <!--last name-->
                                        <div class="col">
                                            <label class="sr-only" for="last-name">Last Name</label>
                                            <input type="text" name="restaurant[lastName]" placeholder="Last name"
                                                   class="form-control" id="lastName">
                                        </div>
                                    </div>
                                    <!-- Contact Email / username -->
                                    <div class="form-group">
                                        <label class="sr-only" for="username">Your Email</label>
                                        <input type="email" name="restaurant[username]"
                                               placeholder="Your Email..."
                                               class="form-control" id="username">
                                    </div>
                                    <!--Phone Number-->
                                    <!--TODO: Validation-->
                                    <!--<div class="form-group">-->
                                    <!--<label class="sr-only" for="restaurant-name">Restaurant Name</label>-->
                                    <!--<input type="number" name="restaurant[restaurant-name]"-->
                                    <!--placeholder="We need the name of your restaurant..."-->
                                    <!--class="form-control" id="restaurant-name">-->
                                    <!--</div>-->
                                    <!--floor plan-->
                                    <!--TODO: How to store files? -->
                                    <div class="form-group">
                                        <label class="btn" for="floor-plan" style="color: #29b6e0">Do you have the
                                            menu for your restaurant? <br>Upload here!</label>
                                        <input class="form-control-file" type="file" name="restaurant[floor-plan]"
                                               id="floor-plan" hidden>
                                    </div>
                                    <button type="submit" class="btn">Done!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<% include ../partials/footer.ejs %>
